<header class="">
    <div class="">
        <div class="">
            <div class="">
                <img src="{{ asset('images/logo.svg') }}" alt="Logo ça part" class="">
            </div>
        </div>
        <nav class="">
            <ul class="">
                <li><a href="{{ path('app_login') }}">Login</a></li>
                <li><a href="{{ path('app_register') }}">Sign Up</a></li>
                <li><a href="{{ path('user_list') }}">List</a></li>
            </ul>
        </nav>
    </div>
</header>