{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    <h1 class="justify-center ">Update profil</h1>


    {% for flash_error in app.flashes('update_profile_error') %}
        <div class="alert alert-danger " role="alert">{{ flash_error }}</div>
    {% endfor %}

    {{ form_errors(form) }}

    {{ form_start(form) }}

    {{ form_end(form) }}

{% endblock %}